@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap"); // Raleway font
@import "./normalize.scss"; // normalize

.html {
  box-sizing: border-box;
}

body.dark {
  background: rgb(30, 34, 39);
  color: #dddddd;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.4;
}

.header-subcontainer {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-self: center;
}

.nav-links {
  display: none;
  cursor: pointer;
  list-style-type: none;
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;

  &:hover {
    transform: scale(1.1);
  }
}

.mdl-dialog__actions {
  // Overriding defaults
  justify-content: center;
  padding-left: 8px;
}

.login-error-message,
.signup-error-message {
  display: none;
  color: red;
}

.logout-info {
  display: none;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  background: rgba(201, 111, 111, 0.2);
  color: rgba(255, 0, 0, 0.6);
}
.title {
  font-family: "Avant Garde", "Century Gothic", "AppleGothic", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: black;
  letter-spacing: 0.05em;
  text-shadow: 7px 7px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem;
  margin: 1rem 1rem;

  &.dark {
    color: rgb(223, 223, 223);
    text-shadow: 4px 4px 0px #8b8b8b, 7px 7px 0px rgba(139, 139, 139, 0.2);
  }
}

.theme {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

.theme-icon {
  cursor: pointer;
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

body {
  // Astuce pour que header fix en haut et footer fix en bas
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  // Astuce pour que header fix en haut et footer fix en bas
  flex: 1;
}

.header-message {
  color: #b50002;
  text-align: center;

  &.dark {
    color: rgb(255, 162, 162);
  }
}

.music {
  background: rgb(226, 226, 226);

  &.dark {
    background: rgba(139, 139, 139, 0.2);
  }
}
.audio-wrapper {
  flex: 1;

  margin: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-title,
.video-title {
  text-align: center;
}

.video-wrapper {
  border-top: solid 2px black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form {
  margin: 1em;
}

.current-time {
  text-align: center;
}

.chrono {
  margin: 2rem 2rem;
}

.chrono-text {
  text-align: center;
}

.time_select option {
  color: black;
}

.time_selects {
  margin: 1em;

  display: flex;
}

.start-button-wrap,
.create-button-wrap {
  display: flex;
  justify-content: center;
}

.pause-restore-buttons {
  display: flex;
  justify-content: center;
}

.pause-button-wrap {
  margin: 0 1em;
}

.restore-button-wrap {
  margin: 0 1em;
  align-self: center;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-chronos {
  padding: 2rem;
  background: rgb(226, 226, 226);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.dark {
    background: rgba(139, 139, 139, 0.2);
  }
}

.pre-chronos-title {
  text-align: center;
}

.icon#info:hover {
  cursor: default;
}

.pre-chronos-form {
  margin: 1rem;
}

.pre-chronos-chips {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & > .pre-chronos-chip {
    cursor: pointer;
    border: 1px solid #7d7979;
    margin: 0.5rem;

    &:hover {
      background: rgba(46, 46, 46, 0.2);
    }
  }

  &.dark > .pre-chronos-chip:hover {
    background: rgba(255, 255, 255, 0.45);
  }
}

.stats-title {
  text-align: center;
}

#chart {
  max-width: 90vw;
  margin: 3rem;
}

.delete-labels {
  margin: 2rem 3rem; // same margin on the sides than chart
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-labels-title {
  text-align: center;
}

.footer-link > i {
  color: inherit;
}

@import "./media.scss"; // media queries
