@media (min-width: 600px) {
  .music {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-wrapper {
    flex: 1;
    border-top: none;
    border-left: solid 2px black;
  }

  .stats_title.dark {
    color: #dddddd; // Keep the title white when we're in dark mode because otherwise it would be black because of the color black implemented on the table parent element (.stats)
  }
}

@media (min-width: 850px) {
  .chronos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
